---
import Layout from "./Layout.astro"
import type { Experience } from "../types/types"
import ExperiencePreview from "../components/home/ExperiencePreview.svelte"

const { frontmatter } = Astro.props
const experience = frontmatter as Experience
console.log(experience)
---

<Layout>
  <ExperiencePreview experience={experience} client:only="svelte">
    <div class="prose lg:prose-xl dark:prose-invert">
      <slot />
    </div>
  </ExperiencePreview>
</Layout>
